<%- include("template/cabecera", {tituloWeb: "Pagina de Atletas"}) %>


<!-- // class="container container-fluid" -->
<div class="p-2 divGeneral">
    <div class="row g-2">
        <div class="col-6">
            <h1 class="my-4 seccionAtl">Seccion Atletas</h1>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
            <a class="btn btn-primary border border-dark btn-lg col-6 my-4" href="/atletas/crear">
                <p class="haciaMembresia p-0 m-0">Nueva Membresía</p>
            </a>
        </div>
    </div>
    <div class="table-responsive" id="mydatatable-container">
     
        <table class="records_list table table-striped table-bordered border-dark table-hover" id="mydatatable">
           
            <thead>
                <tr class="table-blue">
                    <th scope="col">Accion</th>
                   
                    <th scope="col" class="atl"><h5 class="mb-0 col-sm-9 mr-5"><p class=" mr-5 pr-3 mb-0 col-sm-9">Atleta</p></h5></th>
                  
                    <th scope="col-1">No.</th>
                    <th scope="col-1">J1</th>
                    <th scope="col-1">J2</th>
                    <th scope="col-1">J3</th>
                    <th scope="col-1">J4</th>
                    <th scope="col-1">J5</th>
                    <th scope="col-1">J6</th>
                    <th scope="col-1">J7</th>
                    <th scope="col-1">J8</th>
                    <th scope="col-1">J9</th>
                    <th scope="col-1">J10</th>
                    <th scope="col-1">J11</th>
                    <th scope="col-1">J12</th>
                    <th scope="col-1">J13</th>
                    <th scope="col-1">Total</th>
                    <th scope="col-1">Posicion</th>
                   
                </tr>
            </thead>
            <tfoot>
                <tr>
                    
                    <td colspan="18" class="bg-primary col-sm-12 fs-4 text-center fw-bold lh-1" id="catInscXLS"><%= datos.Categoria %></td>
                    
                 
                </tr>
            </tfoot>
            <tbody>
                <% for (let index = 1; index < datos.Competidor.length; index++) { %> 
                        <tr>
<td><a href="" class="btn btn-warning btn-sm">Editar</a></td>
                          
                       
<td class="col-sm-8"><%= datos.Competidor[index].Nombre %></td>
<td>Num</td>

<td><input id="j1" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j2" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j3" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j4" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j5" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j6" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j7" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j8" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j9" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j10" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j11" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j12" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="j13" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="total" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
<td><input id="posicion" type="number" style="width:100%;" class="mt-1 text-center bg-white border-0 p-0 m-0"></td>
                            
                        </tr>
                        <% } %>     
            </tbody>
           
        </table>
       
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#mydatatable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Filtrar.." />');
            });
    
            var table = $('#mydatatable').DataTable({
                "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
                "responsive": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "order": [
                    [0, "desc"]
                ],
                "initComplete": function () {
                    this.api().columns().every(function () {
                        var that = this;
    
                        $('input', this.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    })
                },
                "buttons": ['csv', 'excel', 'pdf', 'print']
            });
        });
      </script>
   
</div>
<%- include("template/footer") %>