<%- include("template/cabecera", {tituloWeb: "Nueva Membresía"}) %>

    <div class="container container-fluid w-75 pt-5">
            <a class="btn btn-dark btn-block my-4" href="/categorias/crearCategoria">
                Nueva Categoria
            </a>
            <div class="table-responsive" id="mydatatable-container">
                <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
                    <thead>
                      <tr>
                        <th scope="col" class="fs-4">Categorias</th>
                       
                      </tr>
                    </thead>
                        <tfoot>
                            <tr>
                                <th>Filter..</th>
                     
                            </tr>
                        </tfoot>
                    <tbody>
                        <% if (arrayCategorias.length > 0) { %>
                            <% arrayCategorias.forEach(categoria => { %>
                                <tr>
                                    <td class="fs-4"><%= categoria.Categoria %></td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
              </div>
            
        <script type="text/javascript">
            $(document).ready(function () {
                $('#mydatatable tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Filtrar.." />');
                });
        
                var table = $('#mydatatable').DataTable({
                    "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
                    "responsive": false,
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    },
                    "order": [
                        [0, "desc"]
                    ],
                    "initComplete": function () {
                        this.api().columns().every(function () {
                            var that = this;
        
                            $('input', this.footer()).on('keyup change', function () {
                                if (that.search() !== this.value) {
                                    that
                                        .search(this.value)
                                        .draw();
                                }
                            });
                        })
                    },
                    "buttons": ['csv', 'excel', 'pdf', 'print']
                });
            });
          </script>











    </div>

<%- include("template/footer") %>