<%- include("template/cabecera", {tituloWeb: "Nueva Membresía"}) %>

    <div class="contenedor">
        <h1>Neuvo Miembro</h1>
        <form action="/atletas" method="post">
            <input type="text placeholder="Nombre y Apellido" class="form-control my-2" name="Nombre">
            <input type="text placeholder="Categoria" class="form-control my-2" name="Categoria">
            <!-- <input type="text placeholder="Nombre" class="form-control my-2"> -->
        
            <button class="btn btn-light btn-block" type="submit">
                Agregar
            </button>
        
        </form>
    </div>

    <%- include("template/footer") %>