<%- include("template/cabecera", {tituloWeb: "Agregar Categoria"}) %>

    <div class="container col-sm-8">
      <h1>Nuevo Evento</h1>
        <form id="formularioEvento" method="post" name="Evento_form">
            <input type="text" placeholder="Nombre del Evento" class="form-control my-2 col-sm-8" name="Evento_form" id="inputEvento">
            <button class="btn btn-primary btn-block my-3 col-sm-8" type="submit" id="botonAgregar">
                Agregar
            </button> 
            
    </div>
<%- include("template/footer") %>