<%- include("template/cabecera", {tituloWeb: "Pagina de Jueces"}) %>

<h1>Ejemplo de presentacion de Federados:</h1>

<div class="row row-cols-1 row-cols-md-5 g-2">
    
    <div class="col">
    <div class="card text-bg-primary" style="width: 18rem;">
        <img src="/img/perfil tony.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Presidente FDFF: Tony Peña</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card text-bg-danger" style="width: 18rem;">
        <img src="/img/perfil tina.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Presidenta Comite Jueces: Dra. Argentina Figueroa</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card text-bg-warning" style="width: 18rem;">
        <img src="/img/perfil Dr.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vice-Presidente: Dr. Batista</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card text-bg-success" style="width: 18rem;">
        <img src="/img/perfil yeri.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
            <h5 class="card-title">Secretaria Organizacion: Dra. Jerelee Baez</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card text-bg-info" style="width: 18rem;">
        <img src="/img/perfil junior.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sec. Difusion: Felix Batista</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>



  </div>


  <%- include("template/footer") %>