<%- include("template/cabecera", {tituloWeb: "Nueva Contraseña"}) %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h3 class="fw-bold text-center mb-4">Nueva Contraseña</h3>
        <form id="formReset">
            <div class="mb-3">
                <label class="form-label">Escribe tu nueva contraseña</label>
                <input type="password" id="new_password" class="form-control" required minlength="6">
            </div>
            <button type="submit" class="btn btn-success w-100 fw-bold">Actualizar Contraseña</button>
        </form>
    </div>
</div>

<script src="/js/supabase.js"></script>
<script>
    const _supabase = supabase.createClient("<%= process.env.SUPABASE_URL %>", "<%= process.env.SUPABASE_KEY %>");

    document.getElementById('formReset').addEventListener('submit', async (e) => {
        e.preventDefault();
        const newPassword = document.getElementById('new_password').value;

        const { error } = await _supabase.auth.updateUser({ password: newPassword });

        if (error) {
            alert("Error: " + error.message);
        } else {
            alert("¡Contraseña actualizada con éxito!");
            window.location.href = '/login';
        }
    });
</script>

<%- include("template/footer") %>
