

<header class="container ml-auto mr-auto caja">
    <div class="row ml-auto mr-auto my-4 encabezado">
        <img src="/img/fdff.svg" class="col-2 imgFdff">
        <div class="col-8">
        <p class="fw-bold text-center col-12 p-0 m-0"><strong class="spanFedSub p-0">FEDERACION DOMINICANA</strong></p>
        <p class="fw-bold text-center col-12 p-0 m-0"><strong class="spanFed p-0">DE FISICULTURISMO</strong></p>
        </div>
        <img src="/img/ifbb.svg" class="imgIfbb col-2">
    </div>
</header>